astroid==2.3.3
beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2019.9.11
cffi==1.14.0
chardet==3.0.4
ciscomeapi
click==7.1.1
Flask==1.1.1
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
pycparser==2.20
pylint==2.4.4
pyOpenSSL==19.1.0
requests==2.22.0
six==1.14.0
soupsieve==1.9.5
typed-ast==1.4.1
urllib3==1.26.5
Werkzeug==1.0.0
wrapt==1.11.2
humanfriendly==9.0